body{
  background-color: rgb(244, 237, 228);
  font-family: 'Lora', serif;
  font-weight: lighter;
  line-height: 1.6;
  font-size: 18px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2{
  color: darkgray;
}

a{
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(212, 245, 234);
}

.banner p {
  color: darkgray;
  font-size: 20px;
}

.container{
  max-width: 800px;
  margin: auto;
}

.banner{
  /*background-image: url("https://source.unsplash.com/random/1000x500");*/
  background-size: cover;
  color: white;
  padding: 180px 0;
  margin: -10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("https://source.unsplash.com/random/1000x500");
}

a:hover{
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(90, 254, 200);
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 700px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 400px;
  }
}
